/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* css/styles.css */

body {
  position: relative;
  min-height: 100%;
  top: 0px;
  /* padding-top: 56px; Adjust according to the height of your navbar */
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 4px;
}

.header {
  font-size: 0.7rem;
}

.content-section-single {
  background-color: #eeeeff;
}

/* boxes input form */
.content-box {
  background-color: #fefefe;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #ccc; */
}

.content-box-title {
  font-size: 1.2rem !important;
  font-weight: 600;
}
.content-box .btn:hover {
  background-color: #0056b3;
  color: white;
}

.content-box .btn {
  font-size: smaller;
  transition: background-color 0.3s, border-color 0.3s;
}

/* judul kolom content */
.content-column-title {
  font-size: 1.2rem;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}

/* Gaya untuk ikon back-to-top */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 40px;
  height: 40px;
  background-color: #0056b3;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-to-top:hover {
  background-color: #003d80;
}

.hero-section {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  height: 84vh;
  z-index: 0; /* Agar elemen konten berada di atas */
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  filter: brightness(50%); /* Mengurangi kecerahan gambar latar belakang */
  z-index: -1; /* Agar pseudo-elemen berada di belakang elemen utama */
}

/* Gaya untuk konten di dalam elemen hero */
.hero-section-content {
  position: relative;
  z-index: 2; /* Agar konten berada di atas lapisan biru */
  color: white; /* Anda bisa menyesuaikan gaya teks sesuai kebutuhan */
  text-align: center;
  /* padding: 20px; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.list-new-regulations {
  height: 30vfh;
  margin-top: 40vh;
}

/* CAROUSEL*/

.carouselListDocuments {
  text-shadow: none;
}

/* Background untuk carousel */
#carouselListDocuments {
  /* Navy Blue */
  background-color: rgba(00, 00, 80, 0.2);
  display: absolute;
  justify-content: center;
  /* align-items: center; */
  margin-top: 40vh;
  max-height: 25vh;
}

/* Mengatur font Poppins untuk seluruh carousel */
#carouselListDocuments,
.carouselListDocuments .card,
.carouselListDocuments .card-title,
.carouselListDocuments .card-text {
  font-family: "Poppins", sans-serif;
}

/* Judul card */
.carouselListDocuments .card-title {
  margin-bottom: 10px;
  color: #004080; /* Dark Blue */
  font-size: 1rem;
  font-weight: 400; /* Bold */
}

/* Deskripsi card */
.carouselListDocuments .card-text {
  color: #0066cc; /* Medium Blue */
  font-size: 0.8rem;
  font-weight: 400; /* Regular */
}

/* Card styling */
.carouselListDocuments .card {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* background-color: #cce7ff;  */
  /* Light Blue */
}

/* Gambar card */
/* select all img on class card descended .carouselListDocuments */
.carouselListDocuments .card > img {
  /* border-top-left-radius: 4px; */
  /* border-bottom-left-radius: 4px; */
  width: 50px; /* Lebar gambar */
  height: 125px; /* Tinggi gambar */
  object-fit: cover;
}

/* Card body styling */
.carouselListDocuments .card-body {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

/* Judul card */
.carouselListDocuments .card-title {
  margin-bottom: 10px;
  color: #004080; /* Dark Blue */
}

/* Deskripsi card */
.carouselListDocuments .card-text {
  color: #0066cc; /* Medium Blue */
}

/* Tombol kontrol carousel */
.carousellistDocuments > .carousel-control-prev-icon,
.carousellistDocuments > .carousel-control-next-icon {
  filter: invert(48%) sepia(48%) saturate(2629%) hue-rotate(176deg)
    brightness(91%) contrast(87%);
}
.carousellistDocuments > .carousel-control-prev,
.carousellistDocuments > .carousel-control-next {
  color: #ffffff; /* White */
}

/* Navbar Styling */
.navbar-box-shadow {
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand a {
  text-decoration: none;
}

.nav-link {
  color: #333;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #0056b3;
}

.navbar-logo {
  height: 1cm;
  width: auto;
  margin-right: 4px;
}

.nav-item,
.dropdown-item {
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.3s, border-color 0.3s;
}

.dropdown:hover .dropdown-menu {
  display: block;
  /* margin-top: 0;
 Remove margin to align the dropdown properly */
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu {
  border-radius: 4px;
}

.dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  * {
    font-size: x-small;
  }
  .dropdown-menu {
    display: none;
  }
  .card-picture {
    margin-top: 10px;
  }
}

.dropdown-item:hover {
  color: #003d80;
  background-color: #00a0e6;
  /* border-color: #0096d3; */
  color: white;
}

/* Card Styling */
.card {
  border: 1px solid #efefef;
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.card-title {
  font-size: 1.2rem;
  /* font-weight: bolder; */
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.card-picture {
  height: 160px;
  width: auto;
}
.card-body-content {
  height: 40px;
  width: 100%;
}
.card-body-action {
  height: 40px;
}
.card .btn {
  display: inline-block;
}

/* section 2*/
.bg90 {
  background-color: #e4e4e4;
}
/* tag-bidang */
.tag-bidang {
  position: relative;
  margin: 16px;
  color: #000000;
  height: 120px;
  width: 180px;
  font-size: 1rem;
  background-color: rgba(0, 150, 227, 0.9);
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  border: 4px solid rgba(0, 150, 227, 0.9);
  transition: color 200ms ease, border 0.3s ease;
}

.tag-bidang img {
  height: 70%;
  width: auto;
}

.tag-bidang:hover {
  color: #ffffff;
  border-color: white;
  background-color: #0076d3;
}

.btn {
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-info {
  background-color: #00c8ff;
  border-color: #00c8ff;
  color: white;
}

.btn-info:hover {
  background-color: #00a2d0;
  border-color: #00a2d0;
  color: white;
}

.btn-primary {
  background-color: #0096e3;
  border-color: #0096e3;
}

.btn-primary:hover {
  background-color: #0076d3;
  border-color: #0076d3;
  color: white;
}

.btn-light:hover {
  background-color: #0096d3 !important;
  border-color: #0086c3 !important;
}

.badge-berlaku {
  position: absolute;
}

/* List Group Styling */
.list-group-item {
  /* border: none; */
  /* padding: 10px 15px 20px 20px; */
  transition: background-color 0.3s, color 0.3s;
}

.list-group-item:hover {
  background-color: #d0d0d0;
  color: #0096e3;
}

.list-group-item.disabled {
  color: black;
}

/* Footer Styling */
footer {
  background-color: #0086e3;
  color: #eee;
  /* padding: 20px 0; */
}

footer .copy-r,
footer a {
  color: #fff;
  background-color: #003d80;
}
footer p {
  margin: 0;
}

/* Utility Classes */
.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.fs-7 {
  font-size: 0.8rem;
}

.fs-8 {
  font-size: 0.6rem;
}

/* 
// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */
